@import "variables";
@import "tipografia";

body{
    background-color: $color1;
}
/* Imagen encabezado */
.encabezado{
    background-color: $color1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96%;
    max-width: 960px;
    margin: auto;
}
#logo {
    background-color: $color1;
    height: 15rem; /* alto */
    margin: 5px 10px 12px 15px;
    padding: 0px;
}
.cardmap{
    margin-left: 25%;
    margin-right: 25%;
    width: 60%;

    justify-items: center;
}
#mapa{
    width: 100%;
}
.card-header{
    text-align: center;
}

/*IMG en index*/
.divguapindex{
    width: 96%;
    max-width: 960px;
    margin: 1rem auto;
}
.guapasindex{
    width: 100%;
    height: auto;
}

/*Formato Cards*/
.card{
    margin: 2rem;
    border: $color1;
}
.card-group{
    justify-content: center;
}
/* Logo Wpp*/
.wpp {
    position: fixed;
    bottom: 10px;
    right: 30px;
    width: 80px; /* ancho */
    height: 80px; /* alto */ 
}
/* Formato Page Media */
#carouselExampleControls{
    width: 30%;
    margin: auto;
}
.mainmedia{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.videomedia{
    width: 30%;
}
/* Formato Page Contacto */
.titulocontacto{
text-align: center;
margin-top: 3rem;
margin-bottom: 2rem;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}
.botonenviar{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Formato Pagina About Us */
.titulobiografia{
    text-align: center;
    font-family: cursive;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.biografia {
    font-family: cursive;
    font-size: 2rem;
}
.divbio{
    margin: 1rem;
    width: 100%;
}

/* Formato Pag Productos*/
.btn-group{
margin-bottom: 1rem;
}